@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  body{
    @apply font-[14px] md:font-[16px]
  }
  h1 {
    @apply text-3xl md:text-5xl lg:text-9xl font-medium;
  }
  h2 {
    @apply text-2xl md:text-4xl lg:text-6xl;
  }
  h3 {
    @apply text-xl md:text-2xl lg:text-4xl;
  }
  h4 {
    @apply text-lg md:text-xl lg:text-2xl;
  }
  h5 {
    @apply text-lg md:text-lg lg:text-xl;
  }
}